﻿body {
    font-family: 'PT Sans', sans-serif;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
h1,h2, h3,h4{
    font-weight: 700;
    color: #000;
}
h2{
    text-align: center;
}
h3{
    font-weight: 400;
}
.title {
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
    width: 780px;
    margin: 0 auto;      
}

.title__main {
    font-size:32px;
}

.title__text {
   font-size: 20px;
   color: #898989;
}
.header{
    background: #fcdb00;
    color: #010101;
    padding-top: 58px;
    padding-bottom: 105px;
}
.menu{
    margin-top: 10px;
}
.menu__item{
    margin: 0 57px;

}
.menu__item a{
    font-size: 22px;
    font-weight: 700;
    color: #000;
}
.offer{
    margin-top: 90px;

}
.offer__title{
    font-size: 32px;
    margin-bottom: 6px;
}
.offer__intro{
    font-size: 20px;
    line-height: 1.3em;

}
.offer__text{
    font-size: 16px;
    margin-top: 15px;
    color: #555555;
    width: 400px;
}
.icons__item{
    margin-right: 30px;
}
.icons__item a{
    color: #000;
    font-size: 42px;
    transition: all 0.3s ease;
}
.icons__item a:hover{
    text-decoration: none;
    color: #ff4400;
}
.iPad{
    display: block;
    margin:60px auto 0;
}
.feature{
    margin-bottom: 65px;
}
.feature__icon{
    font-size: 50px;
    margin-right: 37px;
    color: #000;
}
.feature__text{
    color: #898989;
}
.yellow{
    color: #fcdb00;
}
.touch {
    background: #000;
    color: #fff;
}
.form{  
}
.form__input {
    background: #fff;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    width: 580px;
    padding: 14px 0;
    border: 0px;
    padding-left: 23px;
    outline: none;
    margin-right: 18px;
}
.form__btn {
    background: #fcdb00;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    width: 126px;
    border: 0;
    padding: 14px 0;
    cursor: pointer;
    outline: none; 
}
.footer {
    background: #000;
    padding: 50px 0 94px;

}
.credits{
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    width: 184px;
    margin: 0 auto;
}

@media screen and (max-width:992px) {
    .logo{
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }
    .offer{
        text-align: center;
       
    }
    .offer__text{
       margin: 20px auto;
       width: auto;
    }
    .icons{
        justify-content: center;
    }
    .icons__item:nth-child(3){
        margin-right:0;
    }
    .form__input{
        margin-right:0;
        width: 100%;
        margin-bottom: 20px; 
    }
    .form__btn {
        margin: 0 auto;
        width: 100%;
    }
    .title{
        width: auto;
    }
}
@media screen and (max-width:576px) {
    .iPad{
        width: 100%;
    }
    .menu{
        flex-direction: column;
    }
    .menu__item{
        text-align: center;
        margin-bottom: 10px;
    }
}